body {
    margin: 0;
    padding: 0;

}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-left: 24px;
    padding-right: 24px;
}

.header-links {
    display: flex;
    align-items: end;
    gap: 24px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    gap: 12px;
}
.main-text {
    font-weight: 900;
    font-size: 48px;
}
.section-text {
    font-size: 18px;
    color: #E5E7EB;
}

.section-image {
    width: 350px;
    height: 200px;
}
.section-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;

}

.left-side {
    color: white;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.boxes {
    display: flex;
    flex-direction: row;
    gap: 4%;
}
.image {
    height: 100px;
    width: 100px;
    border: #3882F6 3px solid;
    border-radius: 12px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-text {
    font-size: 18px;
    color: #1F2937;
}
.quote {
    text-align: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 24px;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    text-align: left;

}
.quote-author {
font-size: 18px;
font-weight: bold;
text-align: right;
margin-top: -24px;
}
.sign-up {
    background-color: #3882F6;
    margin: 24px;
    color: #F9FAF8;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign-button {
    background-color: #3882F6;
    border: #E5E7EB 3px solid;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 6px 10px 6px 10px;
}
.sign-text {
    font-weight: bold;
}
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 12px;
    font-size: 18px;
}