body {
    margin: 0;
    padding: 0;

}

.header-logo {
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3b3b;
    padding: 12px;
}

.header-links {
    display: flex;
    align-items: end;
    gap: 24px;
}

a {
    color: white;
    text-decoration: none;
}

.section {
    background-color: #3b3b3b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    gap: 12px;
}

.section-image {
    width: 350px;
    height: 200px;
}
.section-button {
    background-color: #f5d870;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;

}

.left-side {
    color: white;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxes {
    display: flex;
    flex-direction: row;
    gap: 4%;
}
.image {
    height: 100px;
    width: 100px;
    border: #f5d870 4px solid;
    background-color: #3b3b3b;
    border-radius: 12px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote {
    font-style: italic;
    text-align: center;
    background-color: #3b3b3b;
    color: aliceblue;
}